:root {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #ccc;
  background-color: #0a0a0a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  color: #aaa;
  text-decoration: none;
}
a:hover {
  color: #ddd;
}

#root {
  min-height: 100vh;
}
